body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Button {
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  background-color: #424242;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
}

.Words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  animation: fadeIn 0.5s ease-in-out;
  animation-direction: alternate;
  /* background-color: blue; */
}

.Shrink {
  animation: shrink 5s ease-in-out;
}

.Title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  color: #333;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  text-decoration: none;
  background-color: #0066ff;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
  border: none;
  color: white;
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
